html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.form-group {
  margin-bottom: 1rem;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.1s;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top 0.1s ease 0.14s, opacity 0.1s ease;
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 0.1s ease 0.14s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s ease, opacity 0.1s ease 0.14s;
  opacity: 0;
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  transform: rotate(-90deg);
}

.mid-banner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #f4524d 0%,
    #5543ca 100%
  ) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  /* left: 20px; */
  bottom: 1.5rem;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.contact-form input {
  border: revert;
}

.guia {
  font-size: 1.5em;
  line-height: 1.5em;
}

.block2-pic img {
  height: 50vh;
  object-position: center;
  object-fit: cover;
}
.active-category {
  color: #17a2b8;
  border-color: #17a2b8;
}

.contact-form .selected:active + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.bodycustom {
  font-size: 16px;
}

@-webkit-keyframes small {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes small {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes big {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes big {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container1:before {
  width: 50%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: #138496;
}

.product {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  z-index: 2;
  padding: 0 2rem;
}
.product-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
}
.product-photo img:first-child {
  width: 40%;
  height: 65vh;
  margin-top: 10%;
  transform: translate(0, 0);
  -webkit-animation-name: small;
  animation-name: small;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  object-fit: cover;
  object-position: center;
}
.product-photo img:last-child {
  width: 50%;
  height: 80vh;
  -webkit-animation-name: big;
  animation-name: big;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  object-fit: cover;
  object-position: center;
}
.product-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  text-align: center;

  margin-left: 2rem;
}
.boxiproduct {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
}
.darkness {
  color: #222 !important;
}
.product__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.product__price {
  letter-spacing: 2px;
  /* font-family: "Montserrat", sans-serif; */
  margin-bottom: 2rem;
}
.product__subtitle {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 300;
  font-size: 0.75rem;
  color: #b9b8b6;
  margin-bottom: 2rem;
  padding: 0 4rem;
}
.product__color form {
  display: flex;
}
.product__color form fieldset {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.product__color form fieldset label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 0;
  line-height: 1.6rem;
}
.product__color form fieldset label i {
  opacity: 0;
  transition: 0.32s;
}
.product__color form fieldset input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.product__color form fieldset input:checked + label i {
  opacity: 1;
}
.product__color form fieldset:first-child {
  margin-right: 1rem;
}
.product__color form fieldset:first-child label {
  background: #b9b8b6;
}
.product__color form fieldset:first-child label i {
  color: #513f35;
}
.product__color form fieldset:last-child label {
  background: #513f35;
}
.product__color form fieldset:last-child label i {
  color: #b9b8b6;
}
.product__button {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f1ede4;
  display: block;
  width: 8rem;
  height: 2rem;
  font-size: 0.75rem;
  /* font-family: "Montserrat", sans-serif; */
  color: #513f35;
  transition: 0.32s;
}
.product__button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  transition: 0.32s;
}
.product__button span:last-child {
  top: -4rem;
  transition-delay: 0.32s;
  color: #fff;
}
.product__button--success {
  background: #00ff7f;
}
.product__button--success span:last-child {
  top: 0;
}
.product__button--success span:first-child {
  top: -4rem;
}

/* Division */

.customprision {
  margin: 0;
  height: 100%;
  padding: 0;
  padding-top: 2.5% !important;
  overflow-x: hidden;
  position: relative;
  background-color: #17a2b8;
}

.h1,
.h2,
.h3 {
  margin: 0;
}

.container3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  margin: 0 !important;
}

.window {
  background: #fff;
  width: 470px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 450px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-content {
  padding: 50px 46px 25px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

.h1 {
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 48px;
  font-size: 3rem;
}

.h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
}

.description2 {
  margin-top: 20px;
  width: 100%;
}

.highlight-window {
  height: 70vh;
  /* width: 400px; */
  background: #ccc;
  background-size: cover;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.background-element {
  background: #17a2b8;
  position: absolute;
  width: 120%;
  height: 500px;
  left: -50px;
  top: -80px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
  overflow-x: hidden;
}

.a {
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
  color: #666;
}
.button {
  background: #17a2b8;
  border: none;
  font-weight: 400;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background: #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.divider {
  width: 80%;
  height: 1px;
  background: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.purchase-info {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.price {
  font-size: 40px;
  font-size: 2rem;
}

@media (max-width: 950px) {
}

@media (max-width: 550px) {
  .purchase-info {
    flex-direction: column;
    align-items: center;
  }

  .h1 {
    font-size: 2.5rem;
  }
}

/* Locales */

@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
:root {
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
}

.localesbody #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
  animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
.localesbody #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow),
    inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
.localesbody #user-button .u-main {
  cursor: pointer;
  --user-button-background: var(--user-button-main, #ec87c0);
}
.localesbody #user-button .u-main img {
  height: 100%;
  width: 100%;
}
.localesbody #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
.localesbody #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
.localesbody #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.localesbody #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
.localesbody #user-button .u-icons a[href="https://twitter.com/Osorpenke"]
{
  position: relative;
}
.localesbody #user-button .u-icons a[href="https://twitter.com/Osorpenke"]:before
{
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.localesbody #user-button .u-icons a[href="https://twitter.com/Osorpenke"].show:before
{
  opacity: 1;
  transition: 0.25s ease-out;
}
.localesbody #user-button .u-icons a[href="https://twitter.com/Osorpenke"] div
{
  color: #1da1f2;
}
.localesbody #user-button .u-icons a[href="https://codepen.io/z-"] div
{
  background: black;
  color: white;
}
.localesbody #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
  animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.localesbody #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.localesbody #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
.localesbody #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.localesbody #user-button .u-icons > *:hover,
.localesbody #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(1):nth-child(1),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(1)
  ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(2):nth-child(1),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(2)
  ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(2):nth-child(2),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(2)
  ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3):nth-child(1),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3)
  ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3):nth-child(2),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3)
  ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3):nth-child(3),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(3)
  ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4):nth-child(1),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4)
  ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4):nth-child(2),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4)
  ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4):nth-child(3),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4)
  ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4):nth-child(4),
.localesbody
  #user-button
  .u-icons
  > *:first-child:nth-last-child(4)
  ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.localesbody #user-button:hover .u-icons,
.localesbody #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

.localesbody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 420px;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}
.localesbody.dark {
  /* background: #232223; */
  color: white;
}
@media (prefers-color-scheme: dark) {
  .localesbody:not(.light) {
    /* background: #232223; */
    color: white;
  }
}
.localesbody .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.localesbody .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .localesbody .options {
    min-width: 520px;
  }
  /* .localesbody .options .option:nth-child(5) {
    display: none;
  } */
}
@media screen and (max-width: 638px) {
  .localesbody .options {
    min-width: 440px;
  }
  /* .localesbody .options .option:nth-child(4) {
    display: none;
  } */
}
@media screen and (max-width: 558px) {
  .localesbody .options {
    min-width: 360px;
  }
  /* .localesbody .options .option:nth-child(3) {
    display: none;
  } */
}
@media screen and (max-width: 478px) {
  .localesbody .options {
    min-width: 280px;
  }
  /* .localesbody .options .option:nth-child(2) {
    display: none;
  } */
}
.localesbody .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.localesbody .options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
.localesbody .options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
.localesbody .options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
.localesbody .options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
.localesbody .options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
.localesbody .options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
.localesbody .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100% !important;
  background-position: center !important;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.localesbody .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}
.localesbody .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.localesbody .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.localesbody .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.localesbody .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.localesbody .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.localesbody .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.localesbody .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.localesbody .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.localesbody .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.localesbody .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.localesbody .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.localesbody .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.localesbody .options .option .label .info .sub {
  transition-delay: 0.1s;
}

@media (max-width: 768px) {
  .localesbody .options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    min-width: 10px;
    max-width: 900000000px;
    width: calc(100% - 100px);
    height: fit-content;
  }
  .localesbody .options .option {
    height: 65vh;
  }
  .localesbody {
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .localesbody .options .option {
    height: 50vh;
  }
}

/* ------------------------------------ */

/* Faq */

.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #17a2b8;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}
.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #17a2b8;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
.faqBlue {
  color: #17a2b8 !important;
}
.wp {
  width: 40px;
  height: 38px;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  right: 40px;
  bottom: 45px;
}
@media (max-width: 575px) {
  .wp {
    /* bottom: 20px; */
    right: 15px;
  }
}

/* ------------------------------------ */

.coloresContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.colorEsfera,
.tallaEsfera {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: 1px solid #666;
  padding: 1rem;
}

.colorEsfera.active,
.tallaEsfera.active {
  border: 1px solid #17a2b8;
  color: #17a2b8;
}
.colorEsfera.active {
  /* // check icon on the middle */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z'/%3E%3C/svg%3E")
    no-repeat center;
}

.tallaEsfera {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* ------------------------------------ */
._boxzoom .zoom-thumb {
  width: 90px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
  padding-left: 0px;
  top: 0px;
}
._boxzoom ._product-images {
  width: 80%;
  display: inline-block;
}
._boxzoom ._product-images .picZoomer {
  width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
  left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
  width: 100%;
}

.picZoomer {
  position: relative;
}
.picZoomer-pic-wp {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.my_img {
  vertical-align: middle;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
}
.piclist li {
  display: inline-block;
  width: 90px;
  height: 114px;
  border: 1px solid #eee;
}
.piclist li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------------------------------ */

.old-price {
  text-decoration: line-through;
  color: #666;
}

/* ------------------------------------ */
/* Star Rating */

.ratingControl {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.ratingControl input {
  visibility: hidden;
}

.ratingControl-stars {
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3EEmpty%20Star%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23D5D5D5%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 1rem;
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.ratingControl-stars:hover,
.ratingControl-stars:hover ~ .ratingControl-stars,
input:checked ~ .ratingControl-stars {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FEC844%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
.ratingControl-stars:active,
.ratingControl-stars:active ~ .ratingControl-stars,
input:checked ~ .ratingControl-stars:active {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%20%E2%80%93%20Light%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FFE39C%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.emptyStar::after {
  content: "";
  display: block;
  width: 15px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FEC844%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
.star::after {
  content: "";
  display: block;
  width: 15px;
  height: 14px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2215px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2015%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Ctitle%3ESolid%20Star%20%E2%80%93%20Light%3C%2Ftitle%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Order-Details---Order-final---Not-reviewed%22%20transform%3D%22translate%28-108.000000%2C%20-385.000000%29%22%20fill%3D%22%23FFE39C%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%28108.000000%2C%20316.000000%29%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%280.000000%2C%2069.000000%29%22%20id%3D%22Star-7%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%227.5%2011.25%203.09161061%2013.5676275%203.93353806%208.65881373%200.367076128%205.18237254%205.2958053%204.46618627%207.5%200%209.7041947%204.46618627%2014.6329239%205.18237254%2011.0664619%208.65881373%2011.9083894%2013.5676275%20%22%3E%3C%2Fpolygon%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
/* ------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}

.p-color {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.p-color .colorEsfera {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.4rem;
}

.badge {
  background-color: #138496;
  border-radius: 15px;
  color: white;
  font-size: 0.5rem;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  top: 25%;
  left: 40%;
}

.user-badge {
  background-color: #138496;
  border-radius: 15px;
  color: white;
  font-size: 0.6rem;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  top: 70%;
  left: -200%;
}

footer ul {
  padding-left: 0;
}

/* Carousel arrows  */
.nextArrow {
  position: absolute;
  top: 50%;
  left: 10%;
}

.prevArrow {
  position: absolute;
  top: 50%;
  right: 10%;
}

/* Botones de color y talle en la ficha de producto */

.text-caracteristic {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.div-caracteristic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}

.btn-caracteristic {
  border: 1px solid lightgray;
  height: 50px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.btn-caracteristic.active {
  border: 1px solid black;
}

/* tabs de producto */

.carousel-nav a {
  color: #999;
  padding: 20px;
  text-align: center;
  display: inline-block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.carousel-nav a.active {
  color: #000;
  border-bottom: 1px solid #000 !important;
}

.tab-description {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  max-width: 24rem;
}
